/* Font */
@font-face {
  font-family: "helvetica";
  src: url(../Assets/helvetica.ttf) format("truetype");
}

/* Hero Section */
.screen-1 {
  scroll-snap-align: start;
  height: 100vh;

}

.hero {
  background: linear-gradient(135deg, #000000, #000000, #3d0066);
  color: #fff;
  height: 90vh;

  /* was 90vh */
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.5%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* added */
}

.hero-content {
  max-width: 1000px;
}

.hero-heading {
  font-size: 120px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #FEFFFD;
}

.highlight {
  color: #949494;
  font-weight: 500;
  /* Purple accent */
}

.hero-subheading {
  max-width: 800px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.hero-subheading span {
  background-color: #323230;
  font-size: 14px;
  padding: 6px 15px;
  border-radius: 30px;
  align-items: center;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 15px;
}

.explore-btn {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 15px 35px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore-btn:hover {
  background: white;
  color: black;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    text-align: center;
    justify-content: center;
    padding: 0 20px;
  }

  .hero-heading {
    font-size: 52px;
  }

  .hero-subheading {
    font-size: 16px;
  }

  .hero-buttons {
    justify-content: center;
  }
}